.MyComponent {

}
.MyButton.digit-Button {
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.4);
    border-color: hsl(140, 100%, 34%);
    background-image: linear-gradient( hsl(140, 100%, 54%), 
        hsl(140, 100%, 44%) );
    box-shadow: inset 0 1px 1px hsla(0, 100%, 100%, 0.77),
        inset 0 -1px 1px hsla(0, 0%, 0%, 0.04),
        0 1px 0 hsla(0, 0%, 100%, 0.6);
}